details/target/
productpage/target/
revieews/target/
details/!.mvn/wrapper/maven-wrapper.jar
eureka/!.mvn/wrapper/maven-wrapper.jar
revieews/!.mvn/wrapper/maven-wrapper.jar
ratings/node_modules
ratings/package-lock.json
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
